DEBUG=False
SECRET_KEY=replace-with-strong-secret
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=servio
POSTGRES_USER=servio
POSTGRES_PASSWORD=servio
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

TIME_ZONE=Asia/Tashkent
REDIS_URL=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=8649793370:AAGiXVM_a46FxPrxRA-08cJc8sbL6a99MCU
TELEGRAM_BOT_USERNAME=servio_uz_bot
